body {
  background-color: blue;
  color: #555;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Dosis', sans-serif;
  justify-content: center;
  margin: 0 auto;
  max-width: 50em;
}
b,
h1,
h2 {
  color: #333;
}
.result-div,
.page {
  background-color: #eee;
  margin: 1em;
  opacity: 0.8;
  padding: 1em;
}
.result-div {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.result-div:hover {
  cursor: pointer;
}
.results, .page {
  display:none;
}
.search {
  align-items: baseline;
  display: flex;
  font-size: 2em;
  justify-content: space-around;
  margin-top: 1em;
  text-align: center;
}
.thumbnail {
  float: left;
  margin-right: 1em;
}
.back-button {
  background-color: #eee;
  border: none;
  font-size: 1.2em;
}
.back-button:hover {
  cursor: pointer;
}
.logo {
  color: #eee;
}
